img {
  width: 100%;
}

.header {
  background: #1B1B1B;
}

.container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 0 auto;
}

.logo {
  max-width: 266px;
}

.social {
  display: flex;
  align-items: center;
}

.socialLink:last-of-type {
  margin-left: 44px;
}

@media screen and (max-width: 768px) {
  .logo {
    max-width: 200px;
  }
}

@media screen and (max-width: 425px) {
  .logo {
    max-width: 150px;
  }

  .socialLink {
    max-width: 25px;
  }

  .socialLink:last-of-type {
    margin-left: 20px;
  }
}